.base-dark {
  --background-primary: #131315;
  --background-secondary: #242425;
  --background-error: rgba(255, 87, 111, 0.15);
  --button-primary: #44bcd2;
  --button-primary-overfull: rgba(68, 188, 210, 0.8);
  --button-primary-overstroke: rgba(68, 188, 210, 0.1);
  --button-toggle-on: #3fd19f;
  --button-toggle-off: #8e8e93;
  --icon-exception: #424244;
  --icon-secondary: #131315;
  --icon-primary: #8e8e93;
  --icon-load: #424244;
  --icon-hover: rgba(142, 142, 147, 0.3);
  --text-exception: #131315;
  --text-primary: #e5e5ea;
  --text-secondary: #888886;
  --text-universal: #8e8e93;
  --text-error: #ff576f;
  --separator-primary: #424244;
  --separator-secondary: #242425;

}

body {
  width: 24rem;
  height: 31.25rem;
  display: flex;
  background-color: black;
  margin: 0;
  justify-content: center;
  .title{
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    align-items: center;
    //justify-content: flex-start;

  }
  .content{
    /* CSS */
    // padding: 0rem 3rem 0rem 3rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    .animation-container{

    }
    .button-64 {
      margin-bottom: 1rem;
      width: 50%;
      align-items: center;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: Phantomsans, sans-serif;
      font-size: 16;
      justify-content: center;
      // line-height: 0.5em;
      max-width: 100%;
      padding: 3px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
    }

    .button-64:active,
    .button-64:hover {
      outline: 0;
    }

    .button-64 span {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: rgb(5, 6, 45);
      padding: 8px 12px;
      border-radius: 6px;
      width: 100%;
      height: 100%;
      transition: 300ms;
      img{
        align-self: flex-start;
        margin-right: 1rem;
      }
     
    }

    .button-64:hover span {
      background: none;
    }

    @media (min-width: 768px) {
      .button-64 {
        font-size: 24px;
        min-width: 196px;
      }
    }
  }
}